<mat-form-field appearance="outline" class="custom-mat-form-field">
    <mat-label>Password</mat-label>
    <input matInput type="password" [formControl]="passwordControl">
    <mat-hint *ngIf="showHint">Your password must have at least 8 digits. Remember to use lower case, upper case and numbers</mat-hint>
    <mat-error *ngIf="passwordControl.invalid">{{ getErrorMessage() }}</mat-error>
</mat-form-field>

<app-password-strength *ngIf="passwordStrength" [password-field]="passwordControl"></app-password-strength>